<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Crear Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content  [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Cédula</ion-label>
      <ion-input type="text" [(ngModel)]="cedula"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input type="text" [(ngModel)]="direccion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="text" [(ngModel)]="telefono"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="guardar()">Guardar</ion-button>

 
</ion-content>




